<header id="masthead" class="site-header">
    <div class="site-header-inside">
        <div class="site-branding">
            <h1 class="site-title">
                <a href="{{ site.baseurl }}/">{{ site.name }}</a>
            </h1>
        </div><!-- .site-branding -->

        <button id="menu-toggle" class="menu-toggle"><span class="screen-reader-text">Main Menu</span><span
                class="icon-menu" aria-hidden="true"></span></button>

        <nav id="main-navigation" class="site-navigation" aria-label="Main Navigation">
            <ul class="menu">
                {% for link in site.navigation %}
                {% assign current = nil %}
                {% if page.url == link.url %}
                {% assign current = 'current-menu-item' %}
                {% endif %}
                <li class="menu-item {{ current }}"><a href="{{ link.url }}">{{ link.text }}</a></li>
                {% endfor %}
                <li class="menu-item menu-item-cv"><a href="/assets/docs/Faizan_CV.pdf" target="_blank">CV</a></li>
            </ul>
        </nav><!-- .site-navigation -->

        <div class="header-social">
            {% include social-links.html %}
        </div>
    </div><!-- .site-header-inside -->
</header><!-- .site-header -->
