/**
 * 2. Structure
 * ----------------------------------------------------------------------------
 */
.site {
  overflow: hidden;
  position: relative;
}

.site-content {
  padding-bottom: 2.5em;
}

.site-main {
  margin: 0 auto;
  max-width: $content-max-width;
  padding: 0 24px;
}

.page-content-wrap {
  padding-top: 3em;
}
